<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Manager.Properties.Settings.libraryConnectionString"
            connectionString="user id=root;persistsecurityinfo=True;server=127.0.0.1;port=3306;database=library"
            providerName="MySql.Data.MySqlClient" />
        <add name="Manager.Properties.Settings.libraryConnectionString1"
            connectionString="user id=root;password=19960612;persistsecurityinfo=True;server=127.0.0.1;port=3306;database=library"
            providerName="MySql.Data.MySqlClient" />
        <add name="Manager.Properties.Settings.MiniLibraryConnectionString"
            connectionString="server=115.159.145.115;user id=library;password=library;persistsecurityinfo=True;database=MiniLibrary"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>